.admin-album-submissions-page {
    .submissions-list-container {
        margin-top: 20px;
    }

    .submissions-list {
        overflow: auto;
        max-height: 700px;
    }

    .songs-container {
        margin-top: 16px;
        gap: 16px;

        .song-container {
            gap: 4px;
            align-items: baseline;
        }
    }

    .footer-buttons {
        margin-top: 20px;
        gap: 8px;
    }
}
