.album-previewer {
    img.album-art {
        max-width: 300px;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .song-info-container {
        width: 300px;
        padding: 10px;
    }
}
