.music-submission-page {
    .form-group {
        margin-bottom: 20px;

        input {
            scroll-margin-top: 135px;
        }
    }

    .paypal-email-address-group {
        margin-left: 20px;
        margin-top: -20px;
    }

    .bow {
        color: #ff1493;
    }

    .song-info {
        display: flex;
        gap: 10px;
        align-items: baseline;
    }
}
