@import "../variables.less";

.my-likes-page {
    margin-top: @go-back-margin;
    padding-left: 50px;
    padding-right: 50px;

    @media (max-width: @screen-xs-max) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .page-title {
        margin-top: 5px;
    }

    .nav-tabs {
        display: inline-block;
    }

    .search-box-container {
        max-width: 300px;
        margin-right: 15px;
        float: right;

        @media(max-width: @screen-xs-max) {
            float: none;
            max-width: none;
        }
    }

    .songs-container {
        width: 100%;
    }

    .song-item {
        padding: 10px;
        display: inline-block;
        margin: 15px 15px 0 0;
        cursor: pointer;

        img {
            max-width: 300px;
            height: auto;
            /* Phones use smaller images sizes */
            @media(max-width: @screen-xs-max) {
                max-width: 150px;
            }
        }

        .song-info {
            margin-top: 5px;
            max-width: 300px;

            @media(max-width: @screen-xs-max) {
                max-width: 150px;
            }
        }
    }

    .artist-item {
        padding: 10px;
        display: inline-block;
        margin: 15px 15px 0 0;
        cursor: pointer;
        background-color: @gray-lighter;

        .artist-image-placeholder {
            width: 300px;
            height: 300px;
            text-align: center;
            vertical-align: middle;

            h2 {
                margin-top: 0;
                padding-top: 30%;
            }
        }

        .artist-image {
            background-size: cover;
            width: 300px;
            height: 300px;
            box-shadow: 0 0 3px 1px gray;
            border-radius: 200px;
        }
    }

    .albums-container {
        .album-name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
