@import "../variables.less";

.profile-page {
    .page-title {
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 10px;
        background-color: @brand-background;
        color: @text-color-light;
        border: 1px solid @gray-light;
    }

    .profile-pic-placeholder {
        border: 3px dashed silver;
        margin-right: 10px;
        text-align: center;
        cursor: pointer;
    }

    .img-container {
        padding-right: 20px;
    }

    .profile-pic {
        box-shadow: 1px 1px 5px black;
        margin-left: auto;
        margin-right: auto;
        border-radius: 300px;
        background-color: @gray-lighter;
    }
}
