/* Colors */
.profile-page {
  margin-top: 50px;
}
.profile-page .page-title {
  margin-bottom: 30px;
}
.profile-page .profile-pic-placeholder {
  border: 3px dashed silver;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
.profile-page .profile-pic {
  box-shadow: 1px 1px 5px black;
  margin-left: auto;
  margin-right: auto;
  height: 25vmin;
  width: 25vmin;
  border-radius: 300px;
  background-size: cover;
  background-color: #ecf0f1;
}