/* Colors */
.request-song-modal .selected-song-request img {
  max-height: 150px;
  max-width: 150px;
  box-shadow: 0 0 4px 0 gray;
}
.request-song-modal .song-request-match {
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}
.request-song-modal .song-request-match:hover {
  background-color: #ecf0f1;
}
.request-song-modal .song-request-match img.media-object {
  max-height: 64px;
  max-width: 64px;
  box-shadow: 0 0 4px 0 gray;
}
.request-song-modal .song-request-match .media-heading {
  font-weight: bold;
}