<section class="song-edit-approved-page" ng-controller="SongEditApprovedController as vm">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">

            <div class="jumbotron" style="padding: 100px;">
                <h1><i class="fa fa-check-circle text-success"></i> Your song edit has been approved</h1>
                <p>
                    Good news! Your song edit has been approved. The lyrics and tags for <strong>{{vm.artist}} - {{vm.songName}}</strong> is now live for all listeners to see and enjoy. Chavah gives you her thanks! (✿◠‿◠)
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Return to the music</a>
                </p>
            </div>
        </div>
    </div>

</section>