<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Chavah" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE1006" Action="None" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1001" Action="Warning" />
    <Rule Id="RCS1005" Action="Warning" />
    <Rule Id="RCS1062" Action="Warning" />
    <Rule Id="RCS1090" Action="None" />
    <Rule Id="RCS1094" Action="Warning" />
    <Rule Id="RCS1102" Action="Info" />
    <Rule Id="RCS1118" Action="None" />
    <Rule Id="RCS1143" Action="Info" />
    <Rule Id="RCS1151" Action="Warning" />
    <Rule Id="RCS1185" Action="Warning" />
    <Rule Id="RCS1213" Action="None" />
  </Rules>
</RuleSet>