<div class="media song-request-match">
    <div class="media-left">
        <a href="#">
            <img class="media-object" ng-src="{{match.model.albumArtUri}}" alt="{{match.model.album}}">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{match.model.name}}</h4>
        <span class="text-muted">By</span>
        {{match.model.artist}}
        <br />
        <span class="text-muted">
            On
        </span>
        {{match.model.album}}
    </div>
</div>