/* Colors */
.log-editor-page .log {
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.log-editor-page .log .title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.log-editor-page .border-danger {
  border-color: #E74C3C;
}
.log-editor-page .border-warning {
  border-color: #F39C12;
}
.log-editor-page .border-info {
  border-color: #3498DB;
}