/* Colors */
.now-playing-page .songs-container {
  width: 50%;
  margin: auto;
  height: 415px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
@media (min-width: 1400px) {
  .now-playing-page .songs-container {
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .now-playing-page .songs-container {
    height: 290px;
    width: 75%;
    margin-top: 0;
    padding-left: 10px;
  }
}
.now-playing-page .song {
  min-width: 350px;
  display: inline-block;
  background-color: white;
  padding: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.2s;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 50em;
  cursor: pointer;
}
@media (max-width: 767px) {
  .now-playing-page .song {
    top: 20px;
    min-width: 250px;
  }
}
.now-playing-page .song:nth-child(1) {
  z-index: 5;
  -webkit-box-reflect: below 18px -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.25)), color-stop(0.3, transparent));
}
.now-playing-page .song:nth-child(2) {
  z-index: 4;
  transform: scale(0.9) translateX(-50px) translateY(-5px) rotateZ(-10deg);
  opacity: 0.9;
}
.now-playing-page .song:nth-child(2):hover {
  transform: translateX(-120px) rotateZ(-4deg);
}
.now-playing-page .song:nth-child(3) {
  z-index: 3;
  transform: scale(0.8) translateX(-100px) rotateZ(-15deg);
  opacity: 0.7;
}
.now-playing-page .song:nth-child(3):hover {
  transform: translateX(-150px) rotateZ(-10deg);
}
.now-playing-page .song:nth-child(4) {
  z-index: 2;
  transform: scale(0.7) translateX(-160px) rotateZ(-22deg);
  opacity: 0.5;
}
@media (max-width: 768px) {
  .now-playing-page .song:nth-child(4) {
    display: none;
  }
}
.now-playing-page .song:nth-child(4):hover {
  transform: translateX(-200px) rotateZ(-17deg);
}
.now-playing-page .song:nth-child(5) {
  z-index: 1;
  transform: scale(0.6) translateX(-240px) rotateZ(-30deg);
  opacity: 0.3;
}
@media (max-width: 768px) {
  .now-playing-page .song:nth-child(5) {
    display: none;
  }
}
.now-playing-page .song:nth-child(5):hover {
  transform: translateX(-200px) rotateZ(-25deg);
}
.now-playing-page .song:nth-child(6) {
  z-index: 0;
  transform: scale(0.5) translateX(-300px);
  opacity: 0.1;
}
@media (max-width: 767px) {
  .now-playing-page .song:nth-child(6) {
    display: none;
  }
}
.now-playing-page .song.ng-leave-active {
  transform: translateX(300px) translateY(-100px) rotateZ(-45deg);
  opacity: 0;
}
.now-playing-page .song:hover:not(:first-child) {
  opacity: 1;
}
.now-playing-page .song:hover:not(:first-child) .song-info {
  display: block;
  opacity: 0.85;
}
.now-playing-page .song.ng-enter-active {
  opacity: 0;
}
.now-playing-page .song.ng-enter {
  opacity: 1;
}
.now-playing-page .song img {
  width: 350px;
}
@media (max-width: 767px) {
  .now-playing-page .song img {
    width: 250px;
  }
}
.now-playing-page .song .song-info {
  position: absolute;
  bottom: 0;
  padding: 5px;
  transition: all 0.2s linear;
  opacity: 0;
  padding-top: 10px;
  width: 100%;
  white-space: normal;
}
.now-playing-page .song .pause-overlay {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
}
.now-playing-page .song .pause-overlay.not-paused {
  display: none;
}
.now-playing-page .song .pause-overlay .fa-play {
  align-self: center;
  color: white;
}
@media (max-width: 767px) {
  .now-playing-page .song .pause-overlay {
    width: 250px;
    height: 250px;
  }
}
.now-playing-page .current-song-name {
  margin-top: 0;
}
.now-playing-page .current-song-artist,
.now-playing-page .current-song-album {
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
}
.now-playing-page .current-song-artist h4,
.now-playing-page .current-song-album h4 {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #2f3d58;
}
.now-playing-page .left-pane,
.now-playing-page .right-pane {
  padding: 20px;
}
.now-playing-page .left-pane > .row,
.now-playing-page .right-pane > .row {
  margin-bottom: 30px;
}
.now-playing-page .song-list-title {
  text-transform: lowercase;
  text-align: center;
  color: #2f3d58;
  padding: 10px;
}
.now-playing-page .song-list-title span {
  transition: color 2s linear;
}
.now-playing-page .expander {
  opacity: 0.9;
}
.now-playing-page .expander .panel-heading {
  cursor: pointer;
  transition: all 0.2s linear;
  min-height: 60px;
  background-color: #2f3d58;
  color: #e9dd9a;
  padding-top: 15px;
}
.now-playing-page .expander .panel-title {
  font-size: 24px;
}
.now-playing-page .expander .panel-title .fa {
  font-size: 36px;
  margin-top: -2px;
}
.now-playing-page .expander .panel-body {
  background-color: #2f3d58;
  color: #e9dd9a;
}
.now-playing-page .lyrics-expander pre {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  white-space: pre-wrap;
  word-break: break-word;
}
.now-playing-page .lyrics-expander .submit-lyrics {
  font-weight: bold;
  text-decoration: underline;
}
.now-playing-page .share-expander .social-link {
  background-color: white;
  margin-right: 10px;
  width: 37px;
  height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 7px;
}
.now-playing-page .share-expander .social-link:hover {
  text-decoration: none;
}
.now-playing-page .share-expander .social-link i {
  vertical-align: top;
  position: relative;
  top: -4px;
  left: -1px;
}
.now-playing-page .tag {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  background-color: #2f3d58;
  color: #e9dd9a;
}
.now-playing-page .edit-tags-btn {
  padding-left: 0;
  padding-right: 0;
}
.now-playing-page .edit-tags-btn .fa-tags {
  color: #2c3e50;
}
.now-playing-page .comments-expander .comment .media-object {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: 1px solid gray;
}
.now-playing-page .comments-expander .comment .media-body {
  background-color: #f2f3f5;
  border-radius: 18px;
  color: #1c1e21;
  width: auto;
  padding: 5px 15px 5px 15px;
}
.now-playing-page .comments-expander .comment .media-body h4 {
  display: inline-block;
  font-size: 16px;
}
.now-playing-page .comments-expander .comment .media-body .content-readonly {
  padding-right: 15px;
}
.now-playing-page .comments-expander .comment.add-comment .media-body {
  width: 100%;
  background-color: transparent;
}
.now-playing-page .comments-expander .comment.add-comment textarea.content {
  background-color: #f2f3f5;
  margin-left: -15px;
  padding: 8px 15px 8px 15px;
  border-radius: 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border: 0;
}
.now-playing-page .comments-expander .comment.add-comment textarea.content::placeholder {
  color: #8d949e;
}
.now-playing-page .comments-expander .not-signed-in {
  margin-left: 45px;
  margin-top: 20px;
}