/* Colors */
.welcome-page .header {
  font-size: 2em;
}
@media (max-width: 767px) {
  .welcome-page .header {
    text-align: center;
  }
}
.welcome-page hr {
  border-color: #d7c146;
}
.welcome-page h3 {
  font-size: 1.5em;
  font-weight: normal;
}
.welcome-page p,
.welcome-page li {
  line-height: 1.5em;
}
.welcome-page p {
  padding-bottom: 10px;
}
.welcome-page .feature-img {
  box-shadow: 0 0 10px gray;
  margin-bottom: 10px;
}
.welcome-page .feature-img-left {
  float: left;
  margin-right: 15px;
  border-radius: 0 20px 20px 0;
}
.welcome-page .feature-img-right {
  float: right;
  margin-left: 15px;
  border-radius: 20px 0 0 20px;
}
.welcome-page .judah-profile-pic {
  max-height: 200px;
  border-radius: 100px;
  margin-right: 20px;
  box-shadow: 0 0 10px gray;
}
@media (max-width: 767px) {
  .welcome-page .take-me-to-music {
    display: block;
  }
}
.welcome-page .song-request-icon {
  background-color: #2f3d58;
  padding: 3px;
  color: white;
}
.welcome-page .chavah-face {
  cursor: pointer;
  color: mediumpurple;
  display: inline-block;
  transition: all ease-in-out 2s;
}
.welcome-page .chavah-face:hover {
  filter: hue-rotate(60deg) brightness(1.5);
  transform: rotateY(20deg) rotateZ(-5deg);
}
.welcome-page .chavah-face .bow {
  color: deeppink;
}