<section class="page donate-page">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-6 col-sm-offset-2 col-lg-offset-3">
            <h2 class="text-warning">
                <i class="fa fa-ban"></i>
                Donation cancelled
            </h2>
            <p>
                You cancelled the donation. No worries! Thanks for considering it anyways. If you change your mind, head over to the <a href="#/donate">donate page</a>.
            </p>
            <p>
                Having trouble donating? Feel free to contact us: chavah@messianicradio.com
            </p>
            <a class="btn btn-primary" href="#">Take me back to the music</a>
        </div>
    </div>
</section>