<section class="page reset-password-page account-page" ng-controller="ResetPasswordController as vm">
    <div class="row">
        <div class="account-form col-xs-12 col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
            <div ng-show="vm.showChangePasswordForm">
                <h1>Type a new password</h1>
                <form>
                    <div class="form-group" ng-class="{ 'has-error': !vm.isValidPassword && vm.showPasswordError }">
                        <input type="password" min="6" class="form-control" id="passwordInput" placeholder="Your new password" ng-model="vm.password">
                        <span class="help-block" ng-show="!vm.isValidPassword && vm.showPasswordError">
                            <i class="fa fa-exclamation-circle"></i>
                            Passwords must be at least 6 characters long.
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="vm.isBusy" ng-click="vm.changePassword()">
                        <i class="fa fa-lock"></i>
                        Change password
                    </button>
                </form>
            </div>

            <!--Show success-->
            <div ng-show="vm.passwordResetSucccessful">
                <h3>
                    <i class="fa fa-check-circle text-success"></i>
                    Your password has been changed.
                </h3>
                <p>
                    You may now <a href="#/signin"><i class="fa fa-sign-in"></i> sign in</a>.
                </p>
            </div>

            <!--Show failure-->
            <div ng-show="vm.passwordResetFailed">
                <h3>
                    <i class="fa fa-exclamation-circle text-danger"></i>
                    Uh oh. We were unable to change your password.
                </h3>
                <p ng-show="vm.passwordResetFailedMessage">
                    {{vm.passwordResetFailedMessage}}
                </p>
                <p>
                    You can try <a href="#/forgotpassword">resetting your password</a> again. If the problem persists, please contact chavah@messianicradio.com
                </p>
            </div>
        </div>
    </div>
</section>