<section class="page sign-in-page account-page" ng-controller="SignInController as vm">
    <div class="row">
        <div class="account-form col-xs-12 col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
            <h1 class="text-center"><i class="fa fa-sign-in"></i> Sign in</h1>
            <p class="text-center text-muted">Signing in lets you thumb-up songs, request songs, chat with other Chavah listeners, and more.</p>
            <br />
            <div class="text-center">
                <i class="fa fa-user-circle user-profile-icon"></i>
            </div>
            <br />
            <form>
                <div class="form-group" ng-class="{ 'has-error': (vm.showEmailError && !vm.email) || vm.showUserNotInSystem }">
                    <input type="email" class="form-control" id="emailInput" placeholder="Enter your email" ng-model="vm.email">
                    <span ng-show="vm.showEmailError && !vm.email" class="help-block">
                        <i class="fa fa-exclamation-circle"></i>
                        Please enter your email address.
                    </span>
                    <span class="help-block" ng-show="vm.showUserNotInSystem">
                        <i class="fa fa-info-circle text-info"></i>
                        There's no user with that email address.
                        <br />
                        Do you want to <a href="#/register" ng-href="{{vm.registerUrl}}">create a new account</a>?
                    </span> 
                </div>
                
                <button type="submit" class="btn btn-primary btn-block" ng-hide="vm.showPassword" ng-click="vm.checkEmail()" ng-disabled="vm.isBusy">
                    <i class="fa fa-arrow-right"></i>
                    Next
                </button>
                <br />
                <br />
                <hr />
                <h4>New to Chavah?</h4>
                <a href="#/register" class="btn btn-default"><i class="fa fa-user-plus"></i> Create account</a>
            </form>
        </div>
    </div>
</section>