@model BitShuva.Chavah.Models.HomeViewModel

@* Attach an image that Facebook will use if someone links to a song. *@
@if (!string.IsNullOrEmpty(Model.DescriptiveImageUrl))
{
    <img src="@Model.DescriptiveImageUrl" style="display:none;" />
}

@*Splash screen. This is hidden inside App.ts when the Angular app is ready to go.*@
<div class="splash" style="width: 100%; height: 100%; text-align: center; position: absolute; top:45%;">
    <div>
        <h2><i class="fa fa-spin" style="background-color: transparent;">✡</i> Chavah loading...</h2>
    </div>
</div>

@*The Angular SPA*@
<div id="appContainer" data-ng-app="ChavahApp">
    <div ng-include="Partials.headerPartial"></div>
    <div id="currentPageContainer" data-ng-view></div>
    <footer ng-include="Partials.footerPartial"></footer>
</div>

@*Load our HomeViewModel into JavaScript. Used inside app.ts to initialize our Angular app.*@
<script type="text/javascript">
    window["BitShuva.Chavah.HomeViewModel"] = @Html.Raw(Model.ToJson());
</script>