@model BitShuva.Chavah.Models.HomeViewModel
@* Attach an image that Facebook will use if someone links to a song. *@
@if (!string.IsNullOrEmpty(Model.DescriptiveImageUrl))
{
    <img src="@Model.DescriptiveImageUrl" style="display:none;" />
}

@*The Angular SPA*@
<div id="appContainer" data-ng-app="ChavahApp">
    <div ng-include="Partials.headerPartial"></div>
    <div id="currentPageContainer" class="container-fluid" data-ng-view></div>
    <footer ng-include="Partials.footerPartial"></footer>
</div>

<script type="text/javascript">
    window["BitShuva.Chavah.HomeViewModel"] = @Html.Raw(Model.ToJson());
</script>
