@model BitShuva.Chavah.Models.HomeViewModel
@* Attach an image that Facebook will use if someone links to a song. *@
@if (!string.IsNullOrEmpty(Model.DescriptiveImageUrl))
{
    <img src="@Model.DescriptiveImageUrl" style="display:none;" />
}

@*Splash screen. This is hidden inside App.ts when the Angular app is ready to go. Inline styles so that we don't have to wait for the external CSS to load.*@
<div class="splash" style="width: 100%; height: 100%; position: fixed; background-color: #333f58; left: 0; right: 0; top: 0; bottom: 0; z-index: 999;">
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <div style="text-align: center;">
            <img style="width: 120px; height: 120px;" src="~/images/chavah120x120.png" />
            <br />
            <h5 style="color: #e9dd9a;">Chavah Messianic Radio</h5>
        </div>
    </div>
</div>

@*The Angular SPA*@
<div id="appContainer" data-ng-app="ChavahApp">
    <div ng-include="Partials.headerPartial"></div>
    <div id="currentPageContainer" data-ng-view></div>
    <footer ng-include="Partials.footerPartial"></footer>
</div>

@if (Model.User != null)
{
    <script type="text/javascript">
        // Access to the signed is user is needed immediately because components rely on whether we're signed in.
        // Fetching this state asynchronously isn't sufficient, because it causes sign in state to change, triggering other components to refresh their data.

        window["BitShuva.Chavah.InitialUser"] = @Html.Raw(Model.User.ToJson());
    </script>
}