@{
    ViewBag.Title = "About Us";
}

<div class="legal">
    <p>
    <img src="@Url.Content("~/Content/images/about.jpg")" />
    Hi, folks!<br /> 
    <br /> 
    <a href="http://judahgabriel.blogspot.com">Judah Gabriel Himango</a> here, author of MessianicRadio.com.<br />
    <br />
    I hope you all find this site useful! MessianicRadio.com is a non-profit website designed to benefit Messiah's disciples and amplify Messianic music. I don't accept advertising, nor do I make any money off this site. It is entirely a labor of love for the benefit of the Messianic community.<br />
    <br />
    The music found on this site is contributed by the artists, copyright holders, and the Messianic community through user uploads. For all the music on this site, we attempt to get the approval of the copyright holders before playing on MessianicRadio.com. Each song that plays has a link to the artist's website where their music can be purchased. Through these means, we hope to benefit Messianic artists and amplify the Messianic genre.<br />
    <br />
    Still, we recognize that some copyright holders may not wish to have their works playing over internet radio. If you are the holder of a copyrighted work found on this station, and you do not wish to have it played on MessianicRadio.com, please <a href="mailto:judahgabriel@gmail.com">let us know</a> and we'll remove your copyrighted work without hesitation.<br />
    <br />
    And to those many artists who have contributed their music to this site, or have otherwise approved having their music played on MessianicRadio.com - THANK YOU! <br />
    <br />
    Shalom, Judah.
    </p>
</div>
