<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:build="http://schemas.microsoft.com/developer/appx/2015/build" IgnorableNamespaces="uap mp build">

  <Identity Name="14da666c-05a8-d3ac-dc62-fa359d33c6ee" Version="1.0.0.0" Publisher="CN=user"/>

  <mp:PhoneIdentity PhoneProductId="14da666c-05a8-d3ac-dc62-fa359d33c6ee" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <build:Metadata>
    <build:Item Name="GenerationTool" Version="pwabuilder-api"/>
    <build:Item Name="GenerationToolVersion" Version="2.0.1-rc.0"/>
    <build:Item Name="PlatformId" Value="windows10"/>
    <build:Item Name="PlatformPackage" Value="pwabuilder-windows10"/>
    <build:Item Name="PlatformVersion" Version="2.0.2-beta.3"/>
    <build:Item Name="GeneratedFrom" Value="Website Wizard"/>
    <build:Item Name="GenerationDate" Value="2018-03-05 18:30:37 Z"/>
    <build:Item Name="GeneratedURL" Value="https://messianicradio.com/manifest.webmanifest" />
  </build:Metadata>

  <Properties>
    <DisplayName>Chavah</DisplayName>
    <PublisherDisplayName>user</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0"/>
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="Chavah" StartPage="https://messianicradio.com/">

      <uap:VisualElements DisplayName="Chavah" Description="The very best Messianic Jewish and Hebrew Roots music on the web" BackgroundColor="#2F3D58" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">


        <uap:DefaultTile Square71x71Logo="images\Square71x71Logo.png"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait"/>
        </uap:InitialRotationPreference>
      </uap:VisualElements>

      <uap:ApplicationContentUriRules>
        <uap:Rule Type="include" WindowsRuntimeAccess="none" Match="http://*"/>
        <uap:Rule Type="include" WindowsRuntimeAccess="none" Match="https://*"/>

        <uap:Rule Type="include" WindowsRuntimeAccess="all" Match="https://bitshuvafiles01.com/"/>
        <uap:Rule Type="include" WindowsRuntimeAccess="all" Match="http://blog.judahgabriel.com"/>
        <uap:Rule Type="include" WindowsRuntimeAccess="all" Match="https://googleusercontent.com/"/>
        <uap:Rule Type="include" WindowsRuntimeAccess="all" Match="https://messianicradio.com/"/>
        <uap:Rule Type="include" WindowsRuntimeAccess="all" Match="http://blog.messianicradio.com/"/>
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/>
    <Capability Name="backgroundMediaPlayback"/>
  </Capabilities>

</Package>