<section class="admin-page" ng-controller="AdminDonationsController as vm">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div ng-include="Partials.adminSidebar" ng-init="adminPage = 'donations'"></div>
                </div>

                <div class="col-sm-9">
                    <h4>Donations yet to be distributed to artists, ${{vm.minimum}} minimum</h4>
                    <!--Due donations-->
                    <div>
                        <div class="panel panel-primary" ng-repeat="due in vm.dueDonations.items">
                            <div class="panel-heading clearfix">
                                <button class="pull-right btn btn-default btn-sm" ng-click="vm.markAsPaid(due)">Mark as paid</button>
                                <h3 class="panel-title">
                                    {{due.name}} - ${{due.amount.toFixed(2)}}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <a href="{{due.donationUrl}}">{{due.donationUrl}}</a>
                                <ul>
                                    <li ng-repeat="donation in due.donations">
                                        ${{donation.amount.toFixed(2)}} to {{donation.recipientArtist}} on {{vm.friendlyDate(donation.date)}} by {{donation.donorName}}, {{donation.donorEmail}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
