<section class="admin-page" ng-controller="AdminDonationsController as vm">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div ng-include="Partials.adminSidebar" ng-init="adminPage = 'donations'"></div>
                </div>

                <div class="col-sm-9">
                    <ul class="nav nav-tabs">
                        <li role="presentation" ng-click="vm.currentTab = 'pending'" ng-class="{ active: vm.currentTab === 'pending' }"><a href="javascript:void(0)">Pending disbursements</a></li>
                        <li role="presentation" ng-click="vm.currentTab = 'new'" ng-class="{ active: vm.currentTab === 'new' }"><a href="javascript:void(0)">New disbursement</a></li>
                    </ul>

                    <div ng-show="vm.currentTab === 'pending'">
                        <h4>Disbursements yet to be distributed to artists, ${{vm.minimum}} minimum</h4>
                        <input type="checkbox" ng-model="vm.showDonationsForArtistsWithoutContactInfo"> Show donations for artists without contact info
                        <!--Due donations-->
                        <div>
                            <div class="panel panel-primary" ng-repeat="due in vm.dueDonations.items">
                                <div class="panel-heading clearfix">
                                    <div class="d-flex justify-space-between">
                                        <h3 class="panel-title">
                                            {{due.name}} - ${{due.amount.toFixed(2)}}
                                        </h3>
                                        <div class="d-flex gap-1">
                                            <button class="pull-right btn btn-info btn-sm" ng-click="vm.payViaPaypal(due)" ng-show="vm.hasPaypalEmail(due)" ng-disabled="vm.getPaypalDisabled(due)">
                                                {{vm.getPaypalBtnLabel(due)}}
                                            </button>
                                            <button class="pull-right btn btn-default btn-sm" ng-click="vm.markAsPaid(due)">Mark as paid</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body" ng-hide="!vm.showDonationsForArtistsWithoutContactInfo && !due.donationUrl">
                                    <a href="{{due.donationUrl}}">{{due.donationUrl}}</a>
                                    <ul>
                                        <li ng-repeat="donation in due.donations">
                                            ${{donation.amount.toFixed(2)}} to {{donation.recipientArtist}} on {{vm.friendlyDate(donation.date)}} by {{donation.donorName}}, {{donation.donorEmail}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="vm.currentTab === 'new'">
                        <h4>Distribute a month's donations from Messiah's Music Fund</h4>
                        <p>The amount donated to each artist will be based total songs played in the month</p>
                        <form class="form">
                            <div class="form-group">
                                <label for="monthInput">Month</label>
                                <input class="form-control" id="monthInput" type="month" name="monthInput" ng-model="vm.donationDisbursementMonth">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">Donations</label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" min="0" step="1" id="donationAmount" placeholder="500" class="form-control" ng-model="vm.donationAmount">
                                </div>
                            </div>
                            <button ng-hide="vm.hasDisbursedSuccessfully" type="submit" class="btn btn-default" ng-disabled="!vm.canDisburse" ng-click="vm.disburseDonations()">
                                {{vm.disburseDonationButtonText}}
                            </button>
                            <p class="text-success" ng-show="vm.hasDisbursedSuccessfully">
                                <i class="fa fa-check-circle-o"></i> Disbursement distributed successfully
                            </p>
                            <p class="text-success" ng-show="vm.hasDisbursedSuccessfully">
                                <i class="fa fa-check-circle-o"></i> Disbursement distributed successfully
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
