<section class="albums-page admin-page" ng-controller="AlbumsController as vm">

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div ng-include="Partials.adminSidebar" ng-init="adminPage = 'albums'"></div>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="toolbar">
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group" role="group">
                                        <a href="#/admin/album/upload" class="btn btn-default" title="Upload an album with songs">
                                            <i class="fa fa-upload"></i>
                                            Upload
                                        </a>
                                        <a href="#/admin/album/create" class="btn btn-default" title="Create an album without any songs assigned to it">
                                            <i class="fa fa-plus"></i>
                                            Create
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search by album or artist" ng-model="vm.search" ng-change="vm.searchChanged()" ng-model-options="{ debounce: 250 }">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="albums-container row">
                        <div class="col-xs-6 col-md-4" ng-repeat="album in vm.albums.items">
                            <div class="thumbnail album" ng-style="{ 'background-color': album.backgroundColor || 'white' }">
                                <img ng-src="{{album.albumArtUri}}" alt="Album art missing">
                                <div class="caption">
                                    <h3>
                                        <span ng-style="{ 'color': album.foregroundColor || 'inherit' }">
                                            {{album.name}}
                                            <span ng-show="album.hebrewName">
                                                {{album.hebrewName}}
                                            </span>
                                        </span>
                                    </h3>
                                    <p>
                                        <span class="text-muted" ng-style="{ 'color': album.mutedColor || 'inherit' }">
                                            By
                                        </span>
                                        <span ng-style="{ 'color': album.foregroundColor || 'inherit' }">
                                            {{album.artist}}
                                        </span>
                                    </p>
                                    <p class="text-muted">
                                        {{album.songCount}} songs
                                    </p>
                                    <p>
                                        <a href="#" ng-href="{{'#/admin/album/' + album.id}}" class="btn btn-default" title="Edit this album">
                                            <i class="fa fa-pencil"></i> Edit
                                        </a>
                                        <button class="btn btn-danger" title="Delete this album" ng-click="album.confirmDelete = true" ng-hide="album.confirmDelete" ng-disabled="vm.isSaving">
                                            <i class="fa fa-trash-o"></i> Delete
                                        </button>
                                        <button class="btn btn-danger" title="Delete this album" ng-click="vm.deleteAlbum(album)" ng-show="album.confirmDelete" ng-disabled="vm.isSaving">
                                            <i class="fa fa-trash-o"></i> Yes, I'm sure
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p class="text-muted text-center" ng-show="vm.albums.isLoadedWithData">
                        Showing {{vm.albums.items.length}} of {{vm.albums.itemsTotalCount}} albums
                        <button class="btn btn-default" ng-show="vm.albums.hasMoreItems" ng-click="vm.albums.fetchNextChunk()" ng-disabled="vm.albums.isLoading">
                            Load more
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
