<section class="approve-song-edits-page admin-page" ng-controller="ApproveSongEditsController as vm">

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div ng-include="Partials.adminSidebar" ng-init="adminPage = 'songedits'"></div>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="row" ng-show="vm.hasLoaded && vm.pendingEdits.length === 0">
                        <div class="col-xs-12">
                            <h3 class="text-center"><i class="fa fa-info-circle text-info"></i> No pending edits</h3>
                        </div>
                    </div>

                    <div class="row" ng-show="vm.pendingEdits.length" style="margin-top: 20px;">
                        <div class="col-xs-12 col-sm-3">
                            <div class="list-group" style="overflow: auto; max-height: 700px;">
                                <a href="javascript:void(0)" class="list-group-item" ng-repeat="edit in vm.pendingEdits" ng-class="{ active: vm.currentEdit === edit }" ng-click="vm.setCurrentEdit(edit)">
                                    {{edit.oldArtist}} - {{edit.oldName}}
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-9">

                            <div ng-show="vm.currentEdit">

                                <h3>{{vm.currentEdit.oldArtist}} - {{vm.currentEdit.oldName}}</h3>
                                <h5>Submitted by {{vm.currentEdit.userId}}</h5>

                                <form>
                                    <div class="form-group">
                                        <label><i class="fa fa-tags"></i> Tags</label>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <!--<input type="text" class="form-control" ng-model="vm.currentEditNewCsv">-->
                                                <div class="tags-container">
                                                    <div class="tag" ng-repeat="tag in vm.currentEdit.newTags">
                                                        <i class="fa fa-tag"></i>
                                                        {{tag}}
                                                        <button type="button" class="close" data-dismiss="modal" ng-click="vm.removeTag(tag)" aria-hidden="true" title="Remove tag">×</button>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" id="tagsInput" ng-model="vm.tagsInput" ng-change="vm.tagsInputChanged()"
                                                       uib-typeahead="tag for tag in vm.searchTags($viewValue) | limitTo:8"
                                                       typeahead-min-length="1"
                                                       typeahead-show-hint="true"
                                                       typeahead-select-on-exact="false"
                                                       typeahead-select-on-blur="false"
                                                       typeahead-editable="true"
                                                       typeahead-focus-first="false"
                                                       typeahead-on-select="vm.autoCompleteTagSelected($item)"
                                                       enter-handler="vm.tagsEnterKeyPressed()">
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="tags-container">
                                                    <div class="tag" ng-repeat="tag in vm.currentEdit.oldTags">
                                                        <i class="fa fa-tag"></i>
                                                        {{tag}}
                                                        <button type="button" class="close" data-dismiss="modal" ng-click="vm.removeTag(tag)" aria-hidden="true" title="Remove tag">×</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Lyrics</label>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <textarea class="form-control" rows="20" ng-model="vm.currentEdit.newLyrics" style="white-space: pre-wrap; word-break: break-word;"></textarea>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <textarea class="form-control" rows="20" ng-model="vm.currentEdit.oldLyrics" readonly="readonly" style="white-space: pre-wrap; word-break: break-word;"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary" ng-disabled="vm.currentEdit && vm.currentEdit.isSaving" ng-click="vm.approve()">
                                        <i class="fa fa-save"></i> Approve
                                    </button>
                                    <button type="submit" class="btn btn-danger" ng-disabled="vm.currentEdit && vm.currentEdit.isSaving" ng-click="vm.reject()">
                                        <i class="fa fa-ban"></i> Reject
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
