<section class="page create-password-page account-page" ng-controller="CreatePasswordController as vm">
    <div class="row">
        <div class="account-form col-xs-12 col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">

            <div ng-hide="vm.hasCreatedPassword">
                <h1><i class="fa fa-lock"></i> Create a password</h1>
                <p class="text-muted">Welcome back, {{vm.emailWithoutDomain}}! Please create a password.</p>
                <form>
                    <div class="form-group" ng-class="{ 'has-error': vm.showPasswordError && !vm.isPasswordValid }">
                        <label for="passwordInput">Password</label>
                        <input type="password" class="form-control" id="passwordInput" ng-model="vm.password">
                        <span ng-show="vm.showPasswordError && !vm.isPasswordValid" class="help-block">
                            <i class="fa fa-exclamation-circle"></i>
                            Please enter a password at least 6 characters long and contains both letters and numbers.
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" ng-hide="vm.showPassword" ng-disabled="vm.isSaving" ng-click="vm.createPassword()">
                        Create password
                    </button>
                </form>
            </div>
            <div ng-show="vm.hasCreatedPassword">
                <h1>
                    <i class="fa fa-check text-success"></i> Password created
                </h1>
                <p class="text-muted">
                    You're ready to sign in with your new password.
                </p>
                <a class="btn btn-primary" href="#/signin"><i class="fa fa-sign-in"></i> Sign in</a>

            </div>
        </div>
    </div>
</section>