<section class="page donate-page">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-6 col-sm-offset-2 col-lg-offset-3">
            <h2>
                <i class="fa fa-check text-success"></i> 
                Donation received
            </h2>
            <p>
                You're a mensch! <i class="fa fa-smile-o"></i> Thank you for supporting Messiah's musicians; we're sincerely grateful. Blessings to you from all the Chavah Messianic Radio family.
            </p>
            <a class="btn btn-primary" href="#/nowplaying">Take me to the music</a>
        </div>
    </div>
</section>