<section class="songs-page" ng-controller="SongsListController as vm">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div ng-include="Partials.adminSidebar" ng-init="adminPage = 'albums'"></div>
                </div>
                <div class="col-xs-12 col-sm-9">
                    songs list goes here.
                </div>
            </div>
        </div>
    </div>
</section>