<section class="log-editor-page" ng-controller="LogEditorController as vm">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div ng-include="Partials.adminSidebar" ng-init="adminPage = 'logs'"></div>
                </div>

                <div class="col-sm-9">
                    <br />
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        <!--Filter dropdown-->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-filter"></i> {{vm.selectedFilter.title}}
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="filter in vm.filterOptions" ng-click="vm.selectFilter(filter)" ng-class="{ 'active': vm.selectedFilter === filter }">
                                    <a href="javascript:void(0)">
                                        <i class="fa" ng-class="vm.getIconClass(filter.value)"></i>
                                        {{filter.title}}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!--Sort dropdown-->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-sort"></i> {{vm.selectedSort.title}}
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="sort in vm.sortOptions" ng-click="vm.selectSort(sort)" ng-class="{ 'active': vm.selectedSort === sort }">
                                    <a href="javascript:void(0)">{{sort.title}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <br />

                    <div class="list-group">
                        <div ng-repeat="log in vm.logs.items" class="log list-group-item rounded-left" ng-class="vm.getLogClass(log)" ng-click="log.isExpanded = true">
                            <p class="title">
                                {{::log.messageTemplate}}
                            </p>
                            <p>
                                <small>
                                    <span class="text-muted">Level</span>: <i class="fa" ng-class="::vm.getIconClass(log.level)"></i> {{::vm.getLevelDescription(log.level)}}
                                    <br />
                                    <span class="text-muted">Occurrences:</span> {{::log.occurrenceCount}}
                                    <br />
                                    <span class="text-muted">Newest:</span>: {{::vm.getTimeAgo(log.lastOccurrence)}}
                                    <br />
                                    <span class="text-muted">Oldest:</span> {{::vm.getTimeAgo(log.firstOccurrence)}}
                                </small>
                            </p>
                            <div ng-show="log.isExpanded">
                                <ul class="nav nav-tabs">
                                    <li ng-repeat="category in ['Message', 'Exception', 'Occurrences']" ng-click="log.activeCategory = category" ng-class="{ 'active': log.activeCategory === category }">
                                        <a class="nav-link" href="javascript:void(0)">
                                            {{category}}
                                        </a>
                                    </li>
                                </ul>
                                <textarea class="form-control" readonly rows="10">{{vm.getLogDetails(log)}}</textarea>
                                <div ng-if="log.activeCategory === 'Occurrences'">
                                    <ul class="pagination pagination-sm">
                                        <li class="page-item" ng-repeat="occ in log.occurrences" ng-class="{ 'active': log.activeOccurrenceIndex === $index }">
                                            <a class="page-link" href="javascript:void(0)" ng-click="log.activeOccurrenceIndex = $index">
                                                {{$index + 1}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <br />
                                <button class="btn btn-danger float-right" ng-click="vm.deleteLog(log)">
                                    <i class="fa fa-trash-o"></i> Delete
                                </button>
                            </div>
                        </div>
                    </div>

                    <p class="text-muted text-center" ng-show="vm.logs.isLoadedWithData">
                        Showing {{vm.logs.items.length}} of {{vm.logs.itemsTotalCount}}
                        <button class="btn btn-default" ng-show="vm.logs.hasMoreItems" ng-click="vm.logs.fetchNextChunk()" ng-disabled="vm.logs.isLoading">
                            Load more
                        </button>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>