<section>
    <h3>Privacy Policy</h3>
    <p>
        If you register on Chavah, your email address and any information you supply via your profile will be stored on Chavah Messianic Radio. We don't share your email address or any other personal information with 3rd parties.
    </p>
    <p>
        Don't want your account anymore? <a href="mailto:chavah@messianicradio.com">Contact us</a> and we will remove your email and other related information from our servers.
    </p>
    <p>
        Should this policy change in the future, we'll notify you through email.
    </p>
</section>