<section class="page account-page prompt-sign-in-page">
    <div class="row">
        <div class="account-form col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <h5 style="position: relative; top: -15px; left: -15px;">
                <a class="text-muted" href="#/dashboard">
                    <i class="fa fa-arrow-left"></i>
                    Go back
                </a>
            </h5>
            <h3><i class="fa fa-info-circle text-info"></i> You need to sign in</h3>
            <p class="text-muted">Glad you're enjoying Chavah! But only signed in users can thumb up/down songs, requesting songs, submit lyrics, and more.</p>

            <br />
            <a href="#/signin" class="btn btn-primary btn-block">
                <i class="fa fa-sign-in"></i> Sign in
            </a>
            <br />
            <hr />
            <h4>Don't have an account yet?</h4>
            <a href="#/register" class="btn btn-default"><i class="fa fa-user-plus"></i> Create account</a>
        </div>
    </div>
</section>