<section class="page register-page account-page" ng-controller="RegisterController as vm">
    <div class="row">
        <div class="account-form col-xs-12 col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
            <!--The register form-->
            <div ng-show="vm.showRegisterForm">
                <h1 class="text-center"><i class="fa fa-user-plus"></i> Register a new account</h1>
                <p class="text-center text-muted">To register, enter your email address and a new password.</p>
                <p class="text-center text-muted">Already registered? Go to <a href="#/signin">sign in</a>.</p>

                <form>
                    <div class="form-group" ng-class="{ 'has-error': vm.showEmailError && !vm.isValidEmail }">
                        <input type="email" class="form-control" id="emailInput" placeholder="Enter your email" ng-model="vm.email">
                        <span ng-show="vm.showEmailError && !vm.isValidEmail" class="help-block">
                            <i class="fa fa-exclamation-circle"></i>
                            Please enter your email address.
                        </span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': vm.showPasswordError && !vm.isValidPassword }">
                        <input type="password" class="form-control" id="passwordInput" placeholder="Enter a new password" ng-model="vm.password">
                        <span ng-show="vm.showPasswordError && !vm.isValidPassword" class="help-block">
                            <i class="fa fa-exclamation-circle"></i>
                            Please enter a password. The password must be at least 6 characters long and contain letters and numbers.
                        </span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': vm.isMatchingPassword}">
                        <input type="password" class="form-control" id="passwordConfirmInput" placeholder="Confirm password" ng-model="vm.confirmPassword">
                        <span ng-show="vm.isMatchingPassword" class="help-block">
                            <i class="fa fa-exclamation-circle"></i>
                           The password doesn't match.
                        </span>
                    </div>

                    <div class="form-group has-error" ng-show="vm.registrationError">
                        <!--<label class="col-xs-12 control-label">Unable to register</label>-->
                        <div class="col-xs-12">
                            <p class="form-control-static text-danger">{{vm.registrationError}}</p>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block" ng-click="vm.register()" ng-disabled="vm.isBusy">
                        <i class="fa fa-user-plus"></i>
                        Register
                    </button>
                </form>
            </div>

            <!--Show success when registered successfully-->
            <div ng-show="vm.showRegisterSuccess">
                <h3>
                    <i class="fa fa-check-circle text-success"></i>
                    OK! You're registered.
                </h3>
                <p>
                    <strong>Now, check your email.</strong> Click the link in the email we just sent you to confirm your account.
                </p>
            </div>

            <!--Let them know if they just need to confirm their existing account-->
            <div ng-show="vm.showNeedsConfirmation">
                <h3>
                    <i class="fa fa-info-circle text-info"></i>
                    You're already registered, but <strong>you need to confirm your account</strong>.
                </h3>
                <small>To confirm your account, click the link in the email we sent you.</small>
            </div>

            <!--Let them know if they've already registered-->
            <div ng-show="vm.showAlreadyRegistered">
                <h3>
                    <i class="fa fa-info-circle text-info"></i>
                    Woops, you're alredy registered. Go to <a href="#/signin">sign in</a>.
                </h3>
            </div>
        </div>
    </div>
</section>