<section class="page upload-album-page" ng-controller="UploadAlbumController as vm">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div ng-include="Partials.adminSidebar" ng-init="adminPage = 'albums'"></div>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <h2>Upload an album</h2>
                    <form>
                        <div class="form-group">
                            <label>Artist</label>
                            <input type="text" class="form-control" ng-model="vm.artistName" />
                        </div>
                        <div class="form-group">
                            <label>Album name</label>
                            <input class="form-control" placeholder="Album name" ng-model="vm.albumName">
                        </div>
                        <div class="form-group">
                            <label>Album Hebrew name</label>
                            <input class="form-control" placeholder="Album Hebrew name" ng-model="vm.albumHebrewName">
                        </div>
                        <div class="form-group">
                            <label>Album art</label>
                            <div ng-if="vm.albumArt && vm.albumArt.status === 'completed'" class="album-tile-preview">
                                <br />
                                <img ng-show="vm.albumArt && vm.albumArt.url" ng-src="{{vm.albumArt ? vm.albumArt.url : ''}}" />
                                <div style="width: 300px; padding: 10px;" ng-style="{ 'background-color': vm.backColor, 'color': vm.foreColor }">
                                    <div ng-show="vm.albumArt" ng-style="{ 'text-shadow': '0 0 5px ' + vm.textShadowColor }">
                                        {{vm.songs[0].name || 'Song Name Here'}}
                                        <br />
                                        <span ng-style="{ 'color': vm.mutedColor }">By</span>
                                        {{vm.artistName || 'Joseph A. Artist'}}
                                        <br />
                                        <span ng-style="{ 'color': vm.mutedColor }">on</span>
                                        {{vm.albumName || 'Some New Album'}}
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-default" ng-click="vm.chooseAlbumArt()">Choose album art...</button>
                            <input class="form-control-file needsclick sr-only" type="file" accept="image/png, image/jpeg" id="chooseAlbumArtInput" file-upload-changed="vm.albumArtChosen(e)">
                            <div ng-show="vm.albumArt && vm.albumArt.status === 'completed'">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h5>Album colors</h5>
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                                <tr>
                                                    <td><label>Fore</label></td>
                                                    <td><input class="form-control" type="color" ng-model="vm.foreColor" /></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Background</label></td>
                                                    <td><input class="form-control" type="color" ng-model="vm.backColor" /></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Muted</label></td>
                                                    <td><input class="form-control" type="color" ng-model="vm.mutedColor" /></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Text shadow</label></td>
                                                    <td><input class="form-control" type="color" ng-model="vm.textShadowColor" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <button class="btn btn-default" ng-click="vm.albumArtChosen(vm.albumArt)">Reset album colors</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h5>Suggested swatches</h5>
                                        <div class="panel-group" id="swatchPanelGroup">
                                            <div class="panel panel-default" ng-repeat="swatch in vm.allAlbumSwatches">
                                                <div class="panel-heading" ng-style="{ 'background-color': swatch.color, color: swatch.bodyTextColor }">
                                                    <h3 class="panel-title">
                                                        <a data-parent="#swatchPanelGroup" data-toggle="collapse" ng-href="'#swatchCollapse{{swatch.name}}">
                                                            <span ng-style="{ color: swatch.titleTextColor }">{{swatch.name}}</span>
                                                            <small ng-style="{ color: swatch.bodyTextColor }">...sample body text color</small>
                                                        </a>
                                                    </h3>
                                                </div>
                                                <div class="panel-collapse collapse" ng-attr-id="{{'swatchCollapse' + swatch.name}}">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-sm-4 text-center">
                                                                <div class="swatch-sample" ng-style="{ 'background-color': swatch.color }">
                                                                    <h3 ng-style="{ color: swatch.titleTextColor }">Title text sample</h3>
                                                                    <p ng-style="{ color: swatch.bodyTextColor }">Body text sample</p>
                                                                </div>
                                                                <p>
                                                                    Color
                                                                    <br />
                                                                    {{swatch.color}}
                                                                    <br />
                                                                    {{vm.hexToRgbString(swatch.color)}}
                                                                    <div class="btn-group" role="group" aria-label="...">
                                                                        <button type="button" class="btn btn-default" ng-click="vm.foreColor = swatch.color">Fore</button>
                                                                        <button type="button" class="btn btn-default" ng-click="vm.backColor = swatch.color">Bg</button>
                                                                        <button type="button" class="btn btn-default" ng-click="vm.mutedColor = swatch.color">Muted</button>
                                                                        <button type="button" class="btn btn-default" ng-click="vm.textShadowColor = swatch.color">Shadow</button>
                                                                    </div>
                                                                </p>
                                                            </div>
                                                            <div class="col-sm-4 text-center">
                                                                <div class="swatch-sample" ng-style="{ 'background-color': swatch.titleTextColor }"></div>
                                                                <p>
                                                                    Title Text
                                                                    <br />
                                                                    {{swatch.titleTextColor}} {{vm.hexToRgbString(swatch.titleTextColor)}}
                                                                    <div class="btn-group" role="group" aria-label="...">
                                                                        <button type="button" class="btn btn-default" ng-click="vm.foreColor = swatch.titleTextColor">Fore</button>
                                                                        <button type="button" class="btn btn-default" ng-click="vm.backColor = swatch.titleTextColor">Bg</button>
                                                                        <button type="button" class="btn btn-default" ng-click="vm.mutedColor = swatch.titleTextColor">Muted</button>
                                                                        <button type="button" class="btn btn-default" ng-click="vm.textShadowColor = swatch.titleTextColor">Shadow</button>
                                                                    </div>
                                                                </p>

                                                            </div>
                                                            <div class="col-sm-4 text-center">
                                                                <div class="swatch-sample" ng-style="{ 'background-color': swatch.bodyTextColor }"></div>
                                                                <p>
                                                                    Body Text
                                                                    <br />
                                                                    {{swatch.bodyTextColor}} {{vm.hexToRgbString(swatch.bodyTextColor)}}
                                                                    <div class="btn-group" role="group" aria-label="...">
                                                                        <button type="button" class="btn btn-default" ng-click="vm.foreColor = swatch.bodyTextColor">Fore</button>
                                                                        <button type="button" class="btn btn-default" ng-click="vm.backColor = swatch.bodyTextColor">Bg</button>
                                                                        <button type="button" class="btn btn-default" ng-click="vm.mutedColor = swatch.bodyTextColor">Muted</button>
                                                                        <button type="button" class="btn btn-default" ng-click="vm.textShadowColor = swatch.bodyTextColor">Shadow</button>
                                                                    </div>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Album art uploading-->
                            <div ng-if="vm.albumArt && vm.albumArt.status === 'uploading'">
                                <p>
                                    <i class="fa fa-circle-o-notch fa-spin text-info"></i>
                                    Uploading...
                                </p>
                            </div>

                            <!--Album art upload failed-->
                            <div ng-if="vm.albumArt && vm.albumArt.status === 'failed'">
                                <p class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i>
                                    There was an error uploading the album art. {{vm.albumArt.error}}
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Songs</label>
                            <ol class="songs-container">
                                <li class="song" ng-repeat="song in vm.songs">
                                    <input type="text" class="form-control" ng-model="song.name" />
                                    <div class="song-details-container">
                                        <span class="text-info" ng-show="song.status === 'queued' || song.status === 'uploading'">
                                            <i class="fa fa-circle-o-notch fa-spin"></i>
                                            <span ng-show="song.status === 'uploading'">Uploading...</span>
                                            <span ng-show="song.status === 'queued'">Queued for upload...</span>
                                        </span>
                                        <span class="text-danger" ng-show="song.status === 'failed'">
                                            Error: {{song.error}}
                                        </span>
                                        <audio preload="none" ng-show="song.status === 'completed'" controls ng-src="{{song.url}}" />
                                        <div class="btn-group" role="group" aria-label="Change order of songs">
                                            <button type="button" class="btn btn-default" title="Move song up" ng-click="vm.moveSongUp(song)">
                                                <i class="fa fa-arrow-up"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" title="Move song down" ng-click="vm.moveSongDown(song)">
                                                <i class="fa fa-arrow-down"></i>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-danger" title="Remove song" ng-click="vm.removeSong(song)">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                            <button class="btn btn-default" ng-click="vm.chooseSongs()">Choose songs...</button>
                            <input class="form-control-file needsclick sr-only" type="file" accept="audio/mpeg, audio/mp3" id="chooseMp3sInput" multiple file-upload-changed="vm.songsChosen(e)">
                        </div>
                        <div class="form-group">
                            <label>Purchase URL</label>
                            <input class="form-control" placeholder="Purchase URL" ng-model="vm.purchaseUrl">
                        </div>
                        <div class="form-group">
                            <label>Genre</label>
                            <select class="form-control" ng-model="vm.genre" ng-options="genre for genre in vm.allGenres">
                                <option value="">Select a genre...</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="vm.upload()" ng-disabled="vm.isSaving || vm.isUploadingMediaFiles || vm.anySongsFailedToUpload">Upload</button>
                        <div class="alert alert-danger" role="alert" ng-if="vm.uploadError">
                            <i class="fa-exclamation-circle"></i>
                            Can't upload. {{vm.uploadError}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
