<section class="welcome-page">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="font-size: 1.5em;">

            <h2 class="header">
                Shalom! <br class="visible-xs-block" />
                Welcome to Chavah <br class="visible-xs-block" />
                (◕‿◕✿)
            </h2>
            <hr />
                    
            <div>

                <p>
                    Now that you're signed up, you can do awesome stuff like:
                </p>
                <ul>
                    <li>
                        <a href="http://blog.messianicradio.com/2013/06/faq-how-can-i-thumb-up-or-down-song-on.html"><i class="fa fa-thumbs-up"></i> or <i class="fa fa-thumbs-down"></i> songs</a>
                    </li>
                    <li>
                        <a href="http://blog.messianicradio.com/2012/12/faq-how-do-i-request-song.html"><i class="fa fa-comment"></i> request songs</a>
                    </li>
                    <li><a href="http://blog.messianicradio.com/2017/02/new-feature-submit-lyrics-tags.html"><i class="fa fa-pencil"></i> submit lyrics and tags</a></li>
                    <li>...and much more!</li>
                </ul>
                <br />
                <p>
                    <a class="btn btn-primary btn-lg take-me-to-music" href="#" role="button">Take me to the music</a>
                </p>
            </div>
            
        </div>
    </div>

</section>