<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.RavenDb" />
  </extensions>
  <targets>
    <target xsi:type="RavenDb" name="raven" Host="http://localhost:8080" Database="Logs" />
  </targets>
  <rules>
    <logger name="*" writeTo="raven" />
  </rules>
</nlog>