/* Colors */
.now-playing-page .songs-container {
  /*position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;*/
  width: 50%;
  margin: auto;
  height: 365px;
  margin-top: 20px;
}
@media (min-width: 1400px) {
  .now-playing-page .songs-container {
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .now-playing-page .songs-container {
    height: 290px;
    width: 75%;
    margin-top: 0;
    padding-left: 10px;
  }
}
.now-playing-page .song {
  min-width: 300px;
  display: inline-block;
  /*border: 1px solid gray;*/
  background-color: white;
  padding: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.2s;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 50em;
  cursor: pointer;
}
@media (max-width: 767px) {
  .now-playing-page .song {
    top: 20px;
    min-width: 250px;
  }
}
.now-playing-page .song:nth-child(1) {
  z-index: 5;
  -webkit-box-reflect: below 18px -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.25)), color-stop(0.3, transparent));
}
.now-playing-page .song:nth-child(2) {
  z-index: 4;
  transform: scale(0.9) translateX(-50px) translateY(10px);
  opacity: .9;
}
.now-playing-page .song:nth-child(3) {
  z-index: 3;
  transform: scale(0.8) translateX(-100px);
  opacity: .7;
}
.now-playing-page .song:nth-child(4) {
  z-index: 2;
  transform: scale(0.7) translateX(-160px);
  opacity: .5;
}
@media (max-width: 768px) {
  .now-playing-page .song:nth-child(4) {
    display: none;
  }
}
.now-playing-page .song:nth-child(5) {
  z-index: 1;
  transform: scale(0.6) translateX(-240px);
  opacity: .3;
}
@media (max-width: 768px) {
  .now-playing-page .song:nth-child(5) {
    display: none;
  }
}
.now-playing-page .song:nth-child(6) {
  z-index: 0;
  transform: scale(0.5) translateX(-300px);
  opacity: .1;
}
@media (max-width: 767px) {
  .now-playing-page .song:nth-child(6) {
    display: none;
  }
}
.now-playing-page .song.ng-leave-active {
  transform: translateX(300px) translateY(-100px) rotateZ(-45deg);
  opacity: 0;
}
.now-playing-page .song:hover:not(:first-child) {
  margin-left: -150px;
  transform: rotateZ(-5deg);
  opacity: 1;
}
.now-playing-page .song:hover:not(:first-child) .song-info {
  display: block;
  opacity: .85;
}
.now-playing-page .song.ng-enter-active {
  opacity: 0;
}
.now-playing-page .song.ng-enter {
  opacity: 1;
}
.now-playing-page .song img {
  width: 300px;
}
@media (max-width: 767px) {
  .now-playing-page .song img {
    width: 250px;
  }
}
.now-playing-page .song .song-info {
  position: absolute;
  bottom: 0;
  padding: 5px;
  transition: all .2s linear;
  opacity: 0;
  padding-top: 10px;
  width: 100%;
  white-space: normal;
}
.now-playing-page .current-song-artist,
.now-playing-page .current-song-album {
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
}
.now-playing-page .current-song-artist h4,
.now-playing-page .current-song-album h4 {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #2f3d58;
}
.now-playing-page .left-pane,
.now-playing-page .right-pane {
  padding: 20px;
}
.now-playing-page .right-pane {
  transform: translateX(-40px);
}
.now-playing-page .song-list-title {
  text-transform: lowercase;
  text-align: center;
  opacity: .7;
}
.now-playing-page .expander {
  opacity: .9;
}
.now-playing-page .expander .panel-heading {
  cursor: pointer;
  transition: all .2s linear;
  min-height: 60px;
  background-color: #2f3d58;
  color: #e9dd9a;
  padding-top: 15px;
}
.now-playing-page .expander .panel-title {
  font-size: 24px;
}
.now-playing-page .expander .panel-title .fa {
  font-size: 36px;
  margin-top: -2px;
}
.now-playing-page .expander .panel-body {
  background-color: #2f3d58;
  color: #e9dd9a;
}
.now-playing-page .lyrics-expander pre {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}
.now-playing-page .lyrics-expander .submit-lyrics {
  font-weight: bold;
  text-decoration: underline;
}