.now-playing-page .wheel {
  overflow: hidden;
  white-space: nowrap;
  height: 700px;
  margin: 0;
  text-align: center;
  position: relative;
}
.now-playing-page .wheel .song {
  min-width: 300px;
  min-height: 50px;
  display: inline-block;
  /*border: 1px solid gray;*/
  background-color: white;
  padding: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-reflect: below 18px -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.25)), color-stop(0.3, transparent));
  position: absolute;
  transition: all ease-in-out 0.5s;
}
.now-playing-page .wheel .song img {
  max-height: 300px;
}
.now-playing-page .wheel .song .song-info {
  padding-top: 10px;
  max-width: 300px;
  white-space: normal;
}
.now-playing-page .wheel .song:nth-child(1) {
  left: 87%;
  z-index: 5;
  transform: rotateZ(90deg);
  top: 95%;
}
.now-playing-page .wheel .song:nth-child(2) {
  left: 82%;
  z-index: 6;
  transform: rotateZ(50deg);
  top: 55%;
}
.now-playing-page .wheel .song:nth-child(3) {
  left: 65%;
  z-index: 7;
  transform: rotateZ(30deg);
  top: 20%;
}
.now-playing-page .wheel .song:nth-child(4) {
  left: 42%;
  z-index: 10;
  top: 5%;
}
.now-playing-page .wheel .song:nth-child(5) {
  left: 18%;
  z-index: 9;
  transform: rotateZ(-30deg);
  top: 20%;
}
.now-playing-page .wheel .song:nth-child(6) {
  left: 2%;
  z-index: 8;
  transform: rotateZ(-50deg);
  top: 55%;
}
.now-playing-page .wheel .song:nth-child(7) {
  left: -3%;
  z-index: 7;
  transform: rotateZ(-90deg);
  top: 95%;
}