<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$close()">&times;</button>
    <h4 class="modal-title">New music alerts</h4>
</div>
<div class="modal-body">
    <h4>
        <i class="fa fa-check-circle text-success"></i>
        You're all set!
    </h4>
    <p>
        You'll be notified when new music is added to Chavah. <a href="https://blog.messianicradio.com/2019/01/new-feature-alert-me-of-new-music-on.html" target="_blank" rel="noopener noreferrer">Tell me more</a>.
    </p>
    <p>
        Chavah sends you her thanks! (✿◠‿◠)
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$close()">
        Ok, got it
    </button>
</div>