<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="vm.close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Request a song</h4>
</div>
<div class="modal-body">
    <p>
        Got a song, artist, or album you'd like to hear? Type the name below, <strong>we'll play it for everyone listening</strong>.
        <a target="_blank" rel="noopener" href="http://blog.messianicradio.com/2012/12/faq-how-do-i-request-song.html">
            Tell me more.
        </a>
    </p>
    <input class="form-control"
           type="text"
           ng-model="vm.songRequestText"
           ng-model-options="{ debounce: 250 }"
           ng-hide="vm.selectedSongRequest"
           placeholder="Type a song, artist, or album"
           uib-typeahead="match.name for match in vm.getSongMatches($viewValue)"
           typeahead-template-url="{{vm.songRequestResultView}}"
           typeahead-on-select="vm.songChosen($item)" />

    <!--Selected song request-->
    <div class="media selected-song-request" ng-show="vm.selectedSongRequest">
        <div class="media-left">
            <a href="#">
                <img class="media-object" ng-src="{{vm.selectedSongRequest.albumArtUri}}" alt="{{vm.selectedSongRequest.album}}">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <strong>{{vm.selectedSongRequest.name}}</strong>
                <button type="button" class="close" ng-click="vm.selectedSongRequest = null" aria-hidden="true">&times;</button>
            </h4>
            <span class="text-muted">By</span>
            {{vm.selectedSongRequest.artist}}
            <br />
            <span class="text-muted">On</span>
            {{vm.selectedSongRequest.album}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-lg" ng-disabled="!vm.selectedSongRequest" ng-click="vm.requestSelectedSong()">Request</button>
</div>