<div class="admin-sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" ng-class="{ active: adminPage === 'songs' }">
            <a href="#/admin/songs">Songs</a>
        </li>
        <li role="presentation" ng-class="{ active: adminPage === 'albums' }">
            <a href="#/admin/albums">Albums</a>
        </li>
        <li ng-class="{ active: adminPage === 'songedits' }">
            <a href="#/admin/songedits">Pending song edits</a>
        </li>
        <li ng-class="{ active: adminPage === 'tags' }">
            <a href="#/admin/tags">Tags</a>
        </li>
        <li ng-class="{ active: adminPage === 'logs' }">
            <a href="#/admin/logs">Logs</a>
        </li>
    </ul>
</div>