<section class="footer" ng-controller="FooterController as vm">
    <div class="trackbar" ng-hide="vm.isBuffering"></div>
    <!--The buffering indicator-->
    <div class="progress buffering" ng-show="vm.isBuffering">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Buffering...</span>
        </div>
    </div>
    <div class="song-controls">
        <div class="pull-left">
            <div class="audio-status"></div>
        </div>
        <button class="btn btn-link btn-lg" ng-class="{ 'active': vm.dislikesCurrentSong }" uib-tooltip="{{vm.dislikeText}}" ng-click="vm.thumbDownClicked()">
            <i class="fa fa-thumbs-down"></i>
        </button>
        <button class="btn btn-link btn-lg" uib-tooltip="Got a song request? Chavah will play whatever tune's on your mind." ng-click="vm.requestSong()">
            <i class="fa fa-comment"></i>
        </button>
        <button class="btn btn-link btn-lg" ng-click="vm.playPause()">
            <i class="fa fa-2x" ng-class="{ 'fa-pause': !vm.isPaused(), 'fa-play': vm.isPaused() }"></i>
        </button>
        <button class="btn btn-link btn-lg" ng-click="vm.playNextSong()" uib-tooltip="Skip this song, play something else">
            <i class="fa fa-fast-forward"></i>
        </button>
        <button class="btn btn-link btn-lg" ng-class="{ 'active': vm.likesCurrentSong }" uib-tooltip="{{vm.likeText}}" ng-click="vm.thumbUpClicked()">
            <i class="fa fa-thumbs-up"></i>
        </button>
        <div class="pull-right volume-and-track-time">
            <span class="track-time-container">
                <span class="track-time"></span> 
                |
                <span class="track-duration"></span>
            </span>
            <button class="btn btn-link" ng-click="vm.toggleVolumnShown()" data-toggle="button">
                <i class="fa fa-fw" ng-class="vm.volumeIconClass"></i>
            </button>
            <input class="volume-slider" type="range" min="0" step="0.1" max="1" ng-show="vm.volumeShown" ng-model="vm.volume" />
        </div>
        
    </div>
</section>

<audio id="audio"></audio>
