<header ng-controller="HeaderController as vm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-lg-9">
                <img class="left-decor pull-left" src="/images/LeftDecor.jpg?v=1" />
                <div class="title">
                    <a href="#/">
                        Chavah
                        <span class="hidden-xs">Messianic Radio</span>
                        <span class="hebrew" lang="he">חוה</span>
                    </a>
                </div>
                <div class="subtitle">
                    <span>{{vm.desc}}</span>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-3">
                <div class="text-right">
                    <div class="btn-group notifications-btn" ng-show="vm.notifications.length > 0">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="vm.markNotificationsAsRead()" uib-tooltip="Notifications">
                            <h4>
                                <i class="fa fa-globe fa-fw"></i>
                                <span class="badge" ng-show="vm.unreadNotificationCount > 0">{{vm.unreadNotificationCount}}</span>
                            </h4>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="notification in vm.notifications" ng-class="{ unread: notification.isUnread }">
                                <a href="#" ng-href="{{notification.url}}" target="_blank">
                                    <img class="img-responsive source-img pull-left" ng-src="{{notification.imageUrl}}" ng-show="notification.imageUrl" />
                                    <span class="description">
                                        <strong>{{notification.title}}</strong>
                                        <br />
                                        <span class="text-muted">via</span>
                                        {{notification.sourceName}}
                                    </span>
                                    <span class="clearfix"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group profile-btn">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <h4 ng-show="vm.currentUserName">
                                <i class="fa fa-user-circle fa-fw"></i>
                                <span class="caret"></span>
                            </h4>
                            <h4 ng-hide="vm.currentUserName">
                                <i class="fa fa-bars fa-fw"></i>
                            </h4>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#/nowplaying"><i class="fa fa-home fa-fw"></i>  Home</a>
                            </li>
                            <li ng-show="vm.currentUserName">
                                <a href="#/profile"><i class="fa fa-user fa-fw"></i> My profile</a>
                            </li>
                            <li>
                                <a href="#/about"><i class="fa fa-info-circle fa-fw"></i>  About Chavah &amp; legal</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li ng-hide="vm.currentUserName">
                                <a href="#/signin">
                                    <i class="fa fa-sign-in fa-fw"></i>
                                    Sign In
                                </a>
                            </li>
                            <li ng-show="vm.currentUserName">
                                <a href="javascript:void(0)" ng-click="vm.signOut()">
                                    <i class="fa fa-sign-out fa-fw"></i> Sign out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>