<header ng-controller="HeaderController as vm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-lg-9">
                <img class="left-decor pull-left" src="/images/LeftDecor.jpg?v=1" />
                <div class="title">
                    <a href="#/">
                        Chavah
                        <span class="hidden-xs">Messianic Radio</span>
                        <span class="hebrew" lang="he">חוה</span>
                    </a>
                </div>
                <div class="subtitle" ng-hide="vm.goBackUrl">
                    {{vm.desc}}
                </div>
                <div ng-show="vm.goBackUrl" class="go-back ng-hide">
                    <a class="btn btn-link" ng-href="{{vm.goBackUrl}}">
                        <i class="fa fa-arrow-circle-left"></i> Go back
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-3">
                <div class="text-right">
                    <div class="btn-group notifications-btn" ng-show="vm.notifications.length > 0">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="vm.markNotificationsAsRead()" uib-tooltip="Notifications">
                            <h3>
                                <i class="fa fa-bell fa-fw"></i>
                                <span class="badge" ng-show="vm.unreadNotificationCount > 0">{{vm.unreadNotificationCount}}</span>
                            </h3>
                        </button>
                        <ul class="dropdown-menu notifications">
                            <li ng-repeat="notification in vm.notifications" ng-class="{ unread: notification.isUnread }">
                                <a href="#" ng-href="{{notification.url}}" ng-attr-target="{{ vm.isOnIOS ? '_self' : '_blank' }}" rel="noopener">
                                    <img class="img-responsive source-img pull-left" ng-src="{{notification.imageUrl}}" ng-show="notification.imageUrl" />
                                    <span class="description">
                                        <strong>{{notification.title}}</strong>
                                        <br />
                                        <span class="text-muted">via</span>
                                        {{notification.sourceName}}
                                    </span>
                                    <span class="clearfix"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group profile-btn">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <h3 ng-show="vm.currentUserName">
                                <i class="fa fa-user-circle fa-fw" ng-hide="vm.profilePicUrl"></i>
                                <img class="profile-pic img-responsive img-circle" ng-src="{{vm.profilePicUrl}}" ng-show="vm.profilePicUrl" />
                                <span class="caret"></span>
                            </h3>
                            <h3 ng-hide="vm.currentUserName">
                                <i class="fa fa-bars fa-fw"></i>
                            </h3>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-show="vm.currentUserName">
                                <a href="#/profile"><i class="fa fa-user-circle-o fa-fw"></i> My profile</a>
                            </li>
                            <li class="divider" role="separator" ng-show="vm.currentUserName"></li>
                            <li>
                                <a href="#/nowplaying"><i class="fa fa-home fa-fw"></i> Home</a>
                            </li>
                            <li ng-show="vm.currentUserName">
                                <a href="#/mylikes">
                                    <i class="fa fa-thumbs-up fa-fw"></i> My likes
                                </a>
                            </li>
                            <li>
                                <a href="#/trending">
                                    <i class="fa fa-line-chart fa-fw"></i>
                                    Trending
                                </a>
                            </li>
                            <li>
                                <a href="#/recent">
                                    <i class="fa fa-step-backward fa-fw"></i>
                                    Recent
                                </a>
                            </li>
                            <li>
                                <a href="#/popular">
                                    <i class="fa fa-star fa-fw"></i>
                                    Popular
                                </a>
                            </li>
                            <li class="divider" role="separator"></li>
                            <li ng-show="vm.canInstallPwa">
                                <a href="javascript:void(0)" ng-click="vm.installPwa()">
                                    <i class="fa fa-download fa-fw"></i>
                                    Install App
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-show="vm.canSubscribeToPushNotifications" ng-click="vm.askPermissionForPushNotifications()">
                                    <i class="fa fa-fw fa-bell"></i>
                                    Alert me of new music
                                </a>
                            </li>
                            <li>
                                <a href="#/support">
                                    <i class="fa fa-envelope-o fa-fw"></i>
                                    Contact
                                </a>
                            </li>
                            <li>
                                <a href="https://www.patreon.com/chavah" ng-attr-target="{{ vm.isOnIOS ? '_self' : '_blank' }}" rel="noopener">
                                    <i class="fa fa-money fa-fw"></i>
                                    Donate
                                </a>
                            </li>
                            <li>
                                <a href="#/about">
                                    <i class="fa fa-info-circle fa-fw"></i>
                                    About
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li ng-hide="vm.currentUserName">
                                <a href="#/signin">
                                    <i class="fa fa-sign-in fa-fw"></i>
                                    Sign In
                                </a>
                            </li>
                            <li ng-hide="vm.currentUserName">
                                <a href="#/register">
                                    <i class="fa fa-user-plus fa-fw"></i>
                                    Register
                                </a>
                            </li>
                            <li ng-hide="!vm.isAdmin">
                                <a href="#/admin">
                                    <i class="fa fa-user-plus fa-fw"></i>
                                    Administration
                                </a>
                            </li>
                            <li ng-show="vm.currentUserName">
                                <a href="javascript:void(0)" ng-click="vm.signOut()">
                                    <i class="fa fa-sign-out fa-fw"></i> Sign out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
