<section class="admin-page" ng-controller="AdminUsersController as vm">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div ng-include="Partials.adminSidebar" ng-init="adminPage = 'users'"></div>
                </div>

                <div class="col-sm-9">
                    <div class="btn-group" role="group" aria-label="New user registrations timeframe">
                        <button type="button" class="btn btn-default" ng-repeat="timeframe in vm.timeframes" ng-click="vm.changeTimeframe(timeframe)" ng-class="{ active: timeframe === vm.activeTimeframe }">
                            {{timeframe.title}}
                        </button>
                    </div>
                    <br />
                    <br />

                    <div style="width: 940px; height: 780px; background-color: white; padding: 20px;">
                        <div id="adminUsersChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
