<section class="legal-page">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="font-size: 1.5em;">
            <h1>About Us &amp; Legal</h1>
            <br />
            <p>
                <img src="https://chavah.b-cdn.net/judah.jpg" style="border-radius: 200px; max-width: 200px; max-height: 200px; float: left; margin: 30px; box-shadow: 0 0 10px 2px gray;" />
                Shalom friends,
            </p>
            <p>
                <a href="https://blog.judahgabriel.com" target="_blank" rel="noopener">Judah Gabriel Himango</a> here, author of <a href="https://messianicradio.com">Chavah</a> and <a href="https://messianicchords.com">MessianicChords.</a>
            </p>
            <p>
                I hope you all find this site useful! Chavah is a non-profit site designed to benefit Messiah's disciples and amplify Messianic music. It's free, I don't accept advertising, and I don't make any money off this site. It is purely a labor of love for the benefit of the Messianic community.
            </p>
            <h3>Copyright</h3>
            <p>
                The music on this site is contributed by the artists themselves and by listeners. We aim to get permission to play music from the artist or copyright holder before playing music on this site. Additionally, we have secured the legal web streaming rights from major copyright holding studios, including ASCAP, at signifant personal cost to ensure Chavah's legality and to support the artists and copyright holders. Moreover, whenver an artist's song plays, we display a "Buy this album" link which redirects to the artist's website. Additionally, we disply a "Donate to this artist" link, allowing listeners to directly support artists on Chavah Messianic Radio.
            </p>
            <p>
                I trust artists recognize the good in spreading their Messiah-centered music to a broad audience through Chavah Messianic Radio. Even so, I recognize that some authors may not wish to have their music played on Messianic Radio. I respect such wishes. If you are the copyright holder of any of the music found on this site, and you wish to have your music removed from this site, please contact me at <a href="mailto:chavah@messianicradio.com">chavah@messianicradio.com</a>, and I'll remove your songs from this site without hesitation. Likewise, any DMCA requests can be directed to the same contact.
            </p>
            <h3>Thank You!</h3>
            <p>
                To the numerous artists and musicians who have contributed their music to this site - todah rabah! THANK YOU VERY MUCH!
            </p>
            <p>
                Lastly, I want to make it clear that some of the artists on this website are not Christian or Messianic, but practice traditional Judaism. I have accepted such music contributions because they are part of our heritage as followers of the Jewish Messiah, and because they often amplify the words of the Scriptures, especially the psalms. In such things, there is only edification.
            </p>
            <p>
                Shalom in Messiah,
                <br>-Judah
            </p>
        </div>
    </div>
    
</section>
