<section class="maintenance-page">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="jumbotron" style="padding: 30px;">
                <h2>
                    <i class="fa fa-exclamation-triangle text-warning"></i> Chavah is down
                    <a class="pull-left" href="https://www.shabot6000.com" style="margin-right: 20px;">
                        <img src="/images/maintenance.png" style="height: 250px;" class="img-responsive" alt="Chavah is down for maintenance" title="Courtesy Ben Baruch, Shabot6000.com" />
                    </a>
                </h2>
                <p>
                    We'll be back online soon. For more updates, check <a href="https://twitter.com/messianicradio" target="_blank" rel="noopener">Chavah's Twitter feed</a>.
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
