<section class="create-password-page" ng-controller="CreatePasswordController as vm">
    <div class="row">
        <div class="sign-in-form col-xs-12 col-sm-6 col-lg-4 col-sm-offset-3 col-lg-offset-4">
            <h1><i class="fa fa-lock"></i> Create a password</h1>
            <p class="help-block">Welcome back, {{vm.emailWithoutDomain}}! Please create a password.</p>
            <form>
                <div class="form-group" ng-class="{ 'has-error': vm.showPasswordError && !vm.password }">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" ng-model="vm.password">
                    <span ng-show="vm.showPasswordError && !vm.password" class="help-block">
                        <i class="fa fa-exclamation-circle"></i>
                        Please enter a password at least 6 characters long.
                    </span>
                </div>
                <button type="submit" class="btn btn-primary" ng-hide="vm.showPassword" ng-click="vm.createPassword()">
                    Create password
                </button>
            </form>
        </div>
    </div>
</section>