<section class="edit-artist-page" ng-controller="EditArtistController as vm">
    <form>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="vm.artist.name">
        </div>
        <div class="form-group">
            <label>Bio</label>
            <textarea class="form-control" ng-model="vm.artist.bio"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputFile">Photos</label>
            <div class="photos-container">
                <div class="img-container" ng-repeat="img in vm.artist.images">
                    <img ng-src="{{img}}" class="img-thumbnail" />
                    <button class="btn btn-sm btn-default" title="Remove artist image" ng-click="vm.removeImage(img)">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <button class="btn btn-default btn-lg" title="Add an image" ng-click="vm.addImages()">
                    <i class="fa fa-plus fa-2x"></i>
                </button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="vm.artist.isSaving" ng-click="vm.save()">
            <i class="fa fa-save"></i>
            Save
        </button>
    </form>
</section>