<section class="page forgot-password-page account-page" ng-controller="ForgotPasswordController as vm">
    <div class="row">
        <div class="account-form col-xs-12 col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
            <div ng-hide="vm.resetPasswordSuccessfully">
                <h1>Forgot your password?</h1>
                <p class="text-muted">No worries. Tell us your email and we'll reset your password.</p>
                <form>
                    <div class="form-group" ng-class="{ 'has-error': vm.couldNotFindEmail || vm.resetErrorMessage }">
                        <input type="email" class="form-control" id="emailInput" placeholder="Your email address" ng-model="vm.email">
                        <span class="help-block" ng-show="vm.couldNotFindEmail">
                            <i class="fa fa-exclamation-circle"></i>
                            Hmm, it doesn't look like you're registered. 
                            <br />
                            Do you want to <a href="#/register" ng-href="{{vm.registerUrl}}">
                                <i class="fa fa-user-plus"></i> create a new account
                            </a>?
                        </span>
                        <span class="help-block" ng-show="vm.resetErrorMessage">
                            <i class="fa fa-exclamation-circle"></i>
                            {{vm.resetErrorMessage}}
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="vm.isBusy" ng-click="vm.resetPassword()">
                        <i class="fa fa-lock"></i> 
                        Reset password
                    </button>
                </form>
            </div>

            <!--Upon successful password reset.-->
            <div ng-show="vm.resetPasswordSuccessfully">
                <h3>
                    <i class="fa fa-check-circle text-success"></i>
                    Password reset email sent.
                </h3>
                <p>
                    Please <strong>check your email</strong> and click the link to finish resetting your password.
                </p>
            </div>
        </div>
    </div>
</section>