<section>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4 col-sm-offset-3 col-lg-offset-4">
            <h1>Forgot your password?</h1>
            <p>No worries. Tell us your email and we'll reset your password.</p>
            <form>
                <div class="form-group">
                    <label for="emailInput">Email</label>
                    <input type="email" class="form-control" id="emailInput" placeholder="your@email.com" ng-model="vm.email">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Reset password</button>
            </form>
        </div>
    </div>
</section>