<header ng-controller="HeaderController as vm">
    <img class="left-decor pull-left hidden-xs" src="../../Content/images/LeftDecor.jpg" />
    <div class="pull-right login">
        <br class="visible-xs-block visible-sm-block" />
        <br class="visible-xs-block visible-sm-block" />
        <div class="btn-group">
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h4 ng-show="vm.currentUserName">
                    <i class="fa fa-user-circle"></i> 
                    {{vm.currentUserName}} 
                    <span class="caret"></span>
                </h4>
                <h4 ng-hide="vm.currentUserName">
                    <i class="fa fa-bars"></i>
                </h4>
            </button>
            <ul class="dropdown-menu">
                <li ng-show="vm.currentUserName">
                    <a href="#/profile">Profile</a>
                </li>
                <li>
                    <a href="#/about">About Chavah &amp; legal</a>
                </li>
                <li role="separator" class="divider"></li>
                <li ng-hide="vm.currentUserName">
                    <a href="#/signin"><i class="fa fa-sign-in"></i> Sign In</a>
                </li>
                <li ng-show="vm.currentUserName">
                    <a href="javascript:void(0)" ng-click="vm.signOut()">Sign out</a>
                </li>
            </ul>
        </div>
        <!--<a class="btn btn-link" href="#/signin" ng-hide="vm.currentUserName">
            <h4>
                <i class="fa fa-sign-in"></i> Sign in
            </h4>
        </a>-->
    </div>
    <div class="title">
        <a href="#/">
            Chavah <span class="hidden-xs">Messianic</span> Radio
        </a> 
        <span class="hebrew">חוה</span>
    </div>
    <div class="subtitle hidden-xs">
        <span>internet radio for Yeshua's disciples</span> 
    </div>
</header>