<header ng-controller="HeaderController as vm">
    <img class="left-decor pull-left" src="../../Content/images/LeftDecor.jpg" />
    <div class="pull-right">
        <!-- Single button -->
        <div class="btn-group" ng-show="vm.currentUserName">
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h4>
                    <i class="fa fa-user-circle"></i> 
                    {{vm.currentUserName}} 
                    <span class="caret"></span>
                </h4>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#/profile">
                        <h5>
                            <strong>{{vm.currentUserName}}</strong>
                        </h5>
                        <small>
                            View my profile
                        </small>
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="javascript:void(0)" ng-click="vm.signOut()">Sign out</a></li>
            </ul>
        </div>
        <a class="btn btn-link" href="#/signin" ng-hide="vm.currentUserName">
            <h4>
                <i class="fa fa-sign-in"></i> Sign in
            </h4>
        </a>
    </div>
    <div class="title">Chavah Messianic Radio <span class="hebrew">חוה רדיו</span></div>
    <div class="subtitle">
        <span>internet radio for Yeshua's disciples</span> 
    </div>
</header>