<section class="now-playing-page" ng-controller="NowPlayingController as vm">
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            left pane
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="songs-container">
                <div class="song" data-ng-repeat="song in vm.songs track by song.clientId" data-ng-show="song.name" ng-style="{ 'background-color': song.albumSwatchBackground, 'color': song.albumSwatchForeground }">
                    <img ng-src="{{song.albumArtUri}}" alt="Album art for {{song.artist}} - {{song.album}}">
                    <div class="song-info" ng-style="{ 'text-shadow': '0 0 5px ' + song.albumSwatchTextShadow }">
                        {{song.name}}
                        <br />
                        <span ng-style="{ 'color': song.albumSwatchMuted }">By</span>
                        {{song.artist}}
                        <span ng-style="{ 'color': song.albumSwatchMuted }">on</span>
                        {{song.album}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 hidden-xs">
            right pane
        </div>
    </div>
      
</section>
