<section class="page now-playing-page" ng-controller="NowPlayingController as vm">
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            <div class="left-pane">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="song-list-title">
                            <a href="#/trending">Trending</a>
                        </h4>
                        <div ng-include="songList" ng-if="true" onload="songs = vm.trending"></div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="song-list-title">
                            <a href="#/popular">Popular</a>
                        </h4>
                        <div ng-include="songList" ng-if="true" onload="songs = vm.popular"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="songs-container">
                <div class="song" data-ng-repeat="song in vm.songs track by song.clientId" data-ng-show="song.name" ng-style="{ 'background-color': song.albumSwatchBackground, 'color': song.albumSwatchForeground }" ng-click="vm.songClicked(song)">
                    <img ng-src="{{song.albumArtUri}}" alt="Album art for {{song.artist}} - {{song.album}}">
                    <div class="song-info" ng-style="{ 'text-shadow': '0 0 5px ' + song.albumSwatchTextShadow, 'background-color': song.albumSwatchBackground }">
                        {{song.name}}
                        <br />
                        <span ng-style="{ 'color': song.albumSwatchMuted }">By</span>
                        {{song.artist}}
                        <br />
                        <span ng-style="{ 'color': song.albumSwatchMuted }">on</span>
                        {{song.album}}
                    </div>
                </div>
            </div>

            <h1 class="text-center current-song-name" ng-style="vm.currentSong.hasSetAlbumArtColors ? { 'color': vm.currentSong.albumSwatchDarker } : {}">
                {{vm.currentSong.name}}
            </h1>
            <div class="text-center">
                <h4 class="current-song-artist" ng-click="vm.playSongFromCurrentArtist()" ng-style="vm.currentSong.hasSetAlbumArtColors ? { 'color': vm.currentSong.albumSwatchDarker } : {}" uib-tooltip="Click to play another {{vm.currentSong.artist}} song" tooltip-placement="right">
                    {{vm.currentSong.artist}}
                </h4>
            </div>
            <div class="text-center">
                <h4 class="text-center current-song-album" ng-click="vm.playSongFromCurrentAlbum()" ng-style="vm.currentSong.hasSetAlbumArtColors ? { 'color': vm.currentSong.albumSwatchDarker } : {}" uib-tooltip="Click to play another song from {{vm.currentSong.album}}" tooltip-placement="right">
                    {{vm.currentSong.album}}
                </h4>
            </div>
            <br />

            <!--Song rank expander-->
            <div class="panel-group expander" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" ng-style="vm.currentSong.hasSetAlbumArtColors ? { 'background-color': vm.currentSong.albumSwatchBackground, 'color': vm.currentSong.albumSwatchForeground } : {}">
                        <h3 class="panel-title text-center" ng-click="vm.currentSong.isSongStatusExpanded = !vm.currentSong.isSongStatusExpanded">
                            Ranked {{vm.currentSong.communityRankText}},
                            {{vm.currentSong.communityRankStandingText}}
                            <i class="fa pull-right" ng-class="{ 'fa-angle-down': !vm.currentSong.isSongStatusExpanded, 'fa-angle-up': vm.currentSong.isSongStatusExpanded }"></i>
                        </h3>
                    </div>
                    <div class="panel-collapse collapse" ng-class="{ in: vm.currentSong.isSongStatusExpanded }" role="tabpanel">
                        <div class="panel-body" ng-style="vm.currentSong.hasSetAlbumArtColors ? { 'color': vm.currentSong.albumSwatchForeground, 'background-color': vm.currentSong.albumSwatchBackground } : {}">
                            {{vm.currentSong.name}} has been played {{vm.currentSong.totalPlays}} times. It appears as the {{vm.currentSong.nthSongText}} song on {{vm.currentSong.artist}}'s {{vm.currentSong.album}} album. It's {{vm.currentSong.communityRankText}} ranking puts it at {{vm.currentSong.communityRankStandingText}} standing of all the songs on Chavah. You can increase the rank by thumbing up this song. Songs with higher rank are more likely to play for everyone listening.
                        </div>
                    </div>
                </div>
            </div>

            <!--Lyrics expander-->
            <div class="panel-group expander lyrics-expander" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" ng-style="vm.currentSong.hasSetAlbumArtColors ? { 'background-color': vm.currentSong.albumSwatchBackground, 'color': vm.currentSong.albumSwatchForeground } : {}">
                        <h3 class="panel-title text-center" ng-click="vm.currentSong.isLyricsExpanded = !vm.currentSong.isLyricsExpanded">
                            Lyrics
                            <i class="fa pull-right" ng-class="{ 'fa-angle-down': !vm.currentSong.isLyricsExpanded, 'fa-angle-up': vm.currentSong.isLyricsExpanded }"></i>
                        </h3>
                    </div>
                    <div class="panel-collapse collapse" ng-class="{ in: vm.currentSong.isLyricsExpanded }" role="tabpanel">
                        <pre class="panel-body" ng-show="vm.currentSong.lyrics" ng-style="vm.currentSong.hasSetAlbumArtColors ? { 'color': vm.currentSong.albumSwatchForeground, 'background-color': vm.currentSong.albumSwatchBackground } : {}">{{vm.currentSong.lyrics}}</pre>
                        <div class="panel-body" ng-hide="vm.currentSong.lyrics" ng-style="vm.currentSong.hasSetAlbumArtColors ? { 'color': vm.currentSong.albumSwatchForeground, 'background-color': vm.currentSong.albumSwatchBackground } : {}">
                            No lyrics for this song yet.
                            <a class="submit-lyrics" href="#" ng-href="{{'#/submitsongedit/' + vm.currentSong.id}}" ng-style="vm.currentSong.hasSetAlbumArtColors ? { 'color': vm.currentSong.albumSwatchForeground } : {}">
                                Submit lyrics for this song
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Reason we played text -->
            <h4 class="text-center" ng-style="vm.currentSong.hasSetAlbumArtColors ? { 'color': vm.currentSong.albumSwatchDarker } : {}">
                We're playing this song for you because {{vm.currentSong.reasonPlayedText}}.
            </h4>

        </div>
        <div class="col-sm-3 hidden-xs">
            <div class="right-pane">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="song-list-title">
                            <a href="#/recentsongs">Recent</a>
                        </h4>
                        <div ng-include="songList" ng-if="true" onload="songs = vm.recent"></div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="song-list-title">
                            <a href="#/mylikes">Likes</a>
                        </h4>
                        <div ng-include="songList" ng-if="true" onload="songs = vm.likes"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
</section>
