<section class="page password-page account-page" ng-controller="PasswordController as vm">
    <div class="row">
        <div class="account-form col-xs-12 col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
            <div ng-hide="vm.signInSuccessful">
                <h1 class="text-center"><i class="fa fa-sign-in"></i> Sign in</h1>
                <p class="text-muted text-center">Signing in lets you thumb-up songs, request songs, chat with other Chavah listeners, and more.</p>
                <br />
                <a href="#/signin" title="Go back to user name">
                    <i class="fa fa-arrow-left text-primary" style="position: relative; top: 20px; left: 20px;"></i>
                </a>
                <div class="text-center">
                    <i class="fa fa-user-circle user-profile-icon"></i>
                </div>
                <p class="text-center">
                    <strong>{{vm.email}}</strong>
                </p>
                <form>
                    <div class="form-group" ng-class="{ 'has-error': vm.showPasswordError }">
                        <input type="password" class="form-control" id="passwordInput" ng-model="vm.password" placeholder="Password">
                        <span class="help-block" ng-show="vm.showPasswordError">
                            <i class="fa fa-exclamation-circle"></i>
                            {{vm.passwordError}}
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="vm.isBusy" ng-click="vm.signIn()">
                        Sign in
                    </button>
                    <div class="checkbox" style="display: inline-block">
                        <label>
                            <input type="checkbox" ng-model="vm.staySignedIn"> Stay signed in
                        </label>
                    </div>
                    <a href="#/forgotpassword" class="pull-right" style="margin-top: 10px;">Forgot password?</a>
                </form>
            </div>

            <!--Show a success message on sign in successful-->
            <div ng-show="vm.signInSuccessful">
                <h3>
                    <i class="fa fa-check-circle text-success"></i>
                    You're signed in!
                </h3>
                <p>
                    <i class="fa fa-circle-o-notch fa-spin"></i> 
                    Redirecting you to <a href="#/">home</a>...
                </p>
            </div>
        </div>
    </div>
</section>