<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="vm.close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Request a song</h4>
</div>
<div class="modal-body">
    <p>
        Got a song, artist, or album you'd like to hear? Type the name below, we'll play it for everyone listening.
        <a target="_blank" href="http://blog.messianicradio.com/2012/12/faq-how-do-i-request-song.html">
            Tell me more.
        </a>
    </p>
    <input id="song-request-textbox" type="text" ng-show="!vm.selectedSongRequest" ng-model="vm.songRequestText" ng-model-options="{ debounce: 500 }" placeholder="Type a song, artist, or album" autofocus />
    <div id="songRequestDropDown" ng-show="!vm.selectedSongRequest && vm.songRequestMatches.length >= 0" data-ng-repeat="song in vm.songRequestMatches">
        <div class="song-request-match ellipsis-overflow" ng-click="vm.songRequestMatchClicked(song) }" title="{{song.name + ' by ' + song.artist + ' on ' + song.album + ' with community rank ' + song.communityRank }}">
            <img ng-src="song.albumArtUri" title="{{song.album}}" />
            <div class="info">
                <span>{{song.artist + ' - ' + song.name}}</span>
            </div>
        </div>
    </div>

    <div class="selected-song-request ellipsis-overflow" ng-show="vm.selectedSongRequest">
        <img ng-src="vm.selectedSongRequest.albumArtUri" title="{{vm.selectedSongRequest.album}}" />
        <div style="vertical-align: middle; display: inline-block; height: 48px;">
            <span>
                {{vm.selectedSongRequest.artist + ' - ' + vm.selectedSongRequest.name}}
            </span>
        </div>
        <button type="button" class="close" aria-hidden="true" ng-click="vm.resetSelectedSongRequest()">×</button>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-lg" ng-click="click: requestSelectedSong">Request</button>
</div>